.header{
display: flex;
flex-direction: row;
flex: 1;
width: 100%;
height: 70px;
position: fixed;
z-index: 1000;
background-color: whitesmoke;
margin-right: 20px ;
margin-left: 0px;
align-self: top;
margin-bottom: 60px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(150, 150, 150);
}
.right{
display: flex;
flex: 1;
flex-direction: row;
align-items: center;
margin-left: 6px;
margin-right: 40px;
justify-content: space-evenly;
flex-shrink: 0;
flex-wrap: nowrap;
}
.middle{
display: flex;
flex: 1;
justify-content: start;
margin-left: 6px;
align-items: center;
}
.left{
display: flex;
flex: 1;
align-items: center;
justify-content: start;
margin-left: 30px;
}
.search{
    display: flex;
    width: 300px;
    height: 30px;
    flex: 1;
    min-width: 100;
    align-self: center;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    color:rgb(104, 104, 104) ;
    font-size: medium;
    border-bottom-right-radius:0px ;
    border-top-right-radius:0px ;
    border-right-width:0px ;
}
.search::placeholder{
    font-size: medium;
}
.header img{
    width: 24px;
    height: 24px;
}
.account{
    border-radius: 20px;
}
.youtubelogo{
    margin-left: 36px;
}
.middleicons,
.righticons,
.menu{
    cursor: pointer;
}
.right img{
    margin-left: 20px;
    margin-right: 20px;
}
.menu{
    position: relative;
}
.menu div{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    border: solid;
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}
.menu:hover div{
    opacity: 1;
    background-color: black;
}
.notifications{
    position: relative;
    display: inline-block;
}
.notifications .badge{
    position: absolute;
    background-color: rgb(129, 27, 27);
    color: rgb(255, 255, 255);
    top: -6px;
    right: 15px;
    border-radius: 7px;
}
.searchicon{
    display: flex;
    border: solid;
    border-width: 1px;
    height:32px ;
    color:rgb(104, 104, 104) ;
    border-radius: 3px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:0px ;
    border-top-left-radius:0px ;
    border-left-width:1px ;
}
.searchicon img{
   padding-top: 4px;
   padding-left: 8px;
}
.searchicon,.voicesearch,.cast{
    position: relative;
    display: inline-block;
}
.searchtooltip,
.casttooltip,
.voicesearchtooltip,
.notificationstooltip{
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease;
    font-size: small;
}
.searchicon:hover .searchtooltip,
.voicesearch:hover .voicesearchtooltip,
.cast:hover .casttooltip,
.notifications:hover .notificationstooltip
.menu:hover .notificationstooltip {
    opacity: 1; 
    transition:3s ease;
}
.casttooltip{
    right: 18px;
    padding: 3px 3px;
}
.searchtooltip{
    padding: 5px 5px;
    bottom: -27px;
}
.voicesearchtooltip{
    padding: 10px 10px;
}
.notificationstooltip{
    padding: 5px 5px;
}