.sidebar{
    position:fixed;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 500px;
    top: 80px;
    align-items: center; 
}
.sidebar img{
    width: 24px;
    height: auto;
    margin-left: 4px;
    margin-bottom: 10px;
}
.sidebaricons{
    align-items: center;
    justify-content: fit-content;
    margin-top: 10px;
    margin-left: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: background-color 0.3s ease;
}
.sidebaricons div {
    font-size: 12px;
    margin-top: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    line-height: normal;
}
.sidebaricons:hover {
    background-color: rgb(164, 164, 164);
}